.container{
    background-image: url("/snow.jpg");
}

.round {
    text-decoration: none;
    display: inline-block;
    padding: 0px;
  }
  
 .round:hover {
   /* background-color: #ddd;
    color: black;*/
    color: #f1f1f1;
  }
  .sidenav .round{
    font-size:17px;
  }

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 7);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff5f5;
    display: block;
  }
  
  .sidenav a:hover {
    color: #ffa4d2;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .main1 img{
    max-width: 50%;
    max-height: 50%;
    margin-top: 40px;
    margin-left: 20%;
 
  }

  
  .main1 {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px; 
    background-color: rgb(247, 196, 235);
    
  }
   